body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  margin-left: 1%;
  min-width: 150px;
  max-width: 20%;
}

.logo:hover {
  transform: scale(1.03);
}

.container img {
  max-width: 100%;
  filter: brightness(50%);
}

.centered {
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.container {
  position: relative;
  text-align: center;
}
ul {
  background-color: rgb(26, 26, 26);
  list-style-type: none;
  overflow: hidden;
  margin: 0;
}

li {
  margin: 3.5% 1% 0 0;
  float: right;
  background-color: rgb(26, 26, 26);
}

li a {
  font-size: 1.5vw;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 25px;
  text-decoration: none;
}

li a:hover {
  background-color: #009205;
  border-radius: 2px;
  color: white;
}

.active {
  font-weight: bolder;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #009205;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  color: rgb(177, 177, 177);
  text-align: center;
  font-size: 14px;
  background-color: rgb(26, 26, 26);
}

.home-container1 {
  overflow: auto;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.item {
  float: left;
  margin: 5%;
  width: 40%;
  border-radius: 2px;
}

.item h3 {
  font-size: 2vw;
  margin-top: 15%;
}

.home-container2 {
  overflow: auto;
  text-align: center;
  background-color: rgb(231, 231, 231);
}

.home-container2 h3 {
  font-size: 2vw;
  margin-top: 5%;
}

.services {
  max-width: 30%;
  margin: 5%;
}

.about-container {
  background-color: rgb(231, 231, 231);
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}

.paragraph {
  font-size: 1.5vw;
}

.about-container h3 {
  font-size: 2vw;
  margin-top: 15%;
}

.about-container img {
  filter: contrast(150%);
}

.footer-container {
  overflow: auto;
}

.footer-item {
  text-decoration: none;
  margin: 4%;
  float: left;
  width: 15%;
}

.footer-item h3 {
  font-size: 1.2vw;
}

.footer-item p {
  font-size: 1vw;
}

.footer-item a {
  text-decoration: none;
  color: rgb(0, 100, 194);
}

.footer-container img {
  margin-left: 30%;
}

.copyright {
  font-size: 1.1vw;
  padding-top: 3%;
  width: 60%;
  margin: auto;
  border-top-style: solid;
  border-top-color: #009205;
}

.card-container {
  overflow: auto;
  margin-top: 5%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 200px;
  width: 20%;
  margin-left: 10%;
  margin-bottom: 5%;
  text-align: center;
  font-family: arial;
  float: left;
}
.card img {
  height: 200px;
}
.price {
  color: grey;
  font-size: 21px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(26, 26, 26);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
